@model LegacyMvcExample.Models.Example
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET v4.7</h1>
    <p>
        The Message is: <strong>@Model.Message</strong>
    </p>
</div>